body {
  min-width: 290px;
  color: #030;
  background-color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  border-right: solid;
  border-color: #050404;
}

header {
  color: #000;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 20px;
}

#navbar ul {
  height: 88%;
  padding: 5%;
  overflow-y: normal;
  overflow-x: hidden;
}

section li {
  margin: 10px 0 0 20px;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  text-align: left;
  margin: 0;
}

section article {
  color: #4d4e53;
  margin: 30px;
  font-size: 0.98em;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  line-height: 2;
  padding: 15px;
  background-color: #b5b6bb;
  margin: 10px;
  border-radius: 10px;
  width: auto;
}

nav {
  display: block;
  padding: 10px 30px;
}

#main-doc {
  position: relative;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

main {
  display: block;
}
